# Top Directors

In [20]:
# Import requirements
import pandas as pd

In [21]:
# Load data
movies = pd.read_csv("archive/Movie_Movies.csv", low_memory=False)

In [22]:
# Overview
movies.head()

,Awards,Country,DVD,Director,Language,Plot,Poster,Production,Rated,Released,Runtime,Title,Type,Website,Year,imdbID,imdbRating,imdbVotes
0,NaN,USA,NaN,Rose Cummings,English,Rachel constantly hears her baby cry from the ...,NaN,NaN,NaN,26 Apr 2012,20 min,Baby's Breath,movie,NaN,2012,tt2268369,NaN,NaN
1,NaN,USA,NaN,James Byrne,NaN,The struggle against unfortunate circumstances...,NaN,NaN,NaN,NaN,9 min,Winter Trees,movie,NaN,2008,tt1560760,NaN,NaN
2,NaN,USA,NaN,Dimitri Buchowetzki,NaN,NaN,NaN,NaN,NaN,27 Mar 1926,50 min,The Crown of Lies,movie,NaN,1926,tt0016750,NaN,NaN
3,NaN,USA,NaN,Julia Hechler,English,"A Gift introduces Samuel Green, Washington Sta...",NaN,NaN,NaN,27 May 2013,2 min,A Gift,movie,NaN,2013,tt3405286,NaN,NaN
4,NaN,Sri Lanka,NaN,Udara Siriruwan,Sinhalese,NaN,NaN,NaN,NaN,20 Mar 2014,23 min,Journey,movie,NaN,2014,tt3816698,NaN,NaN

In [23]:
# General info
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178687 entries, 0 to 178686
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Awards      20340 non-null   object
 1   Country     165998 non-null  object
 2   DVD         15949 non-null   object
 3   Director    151353 non-null  object
 4   Language    153196 non-null  object
 5   Plot        97476 non-null   object
 6   Poster      48414 non-null   object
 7   Production  16446 non-null   object
 8   Rated       23906 non-null   object
 9   Released    116974 non-null  object
 10  Runtime     119497 non-null  object
 11  Title       178686 non-null  object
 12  Type        178686 non-null  object
 13  Website     6747 non-null    object
 14  Year        178686 non-null  object
 15  imdbID      178686 non-null  object
 16  imdbRating  62073 non-null   float64
 17  imdbVotes   62029 non-null   object
dtypes: float64(1), object(17)
memory usage: 24.5+ MB

In [24]:
# Description on some columns
movies.describe()

         imdbRating
count  62073.000000
mean       6.416236
std        1.360472
min        1.000000
25%        5.600000
50%        6.500000
75%        7.300000
max       10.000000

In [25]:
# Top 10 directors by movie count
movies.Director.value_counts().head(10)

Jim Powers                             151
D.W. Griffith                          101
Lewin Fitzhamon                         95
Dave Fleischer                          94
Al Christie                             90
Georges Méliès                          86
Gilbert M. 'Broncho Billy' Anderson     85
Quasarman                               84
Kevin Dunn                              83
Nica Noelle                             78
Name: Director, dtype: int64

In [19]:
# Pretty print top 10 directors by movie count
director_counts = movies['Director'].value_counts().head(10).to_frame().reset_index()
director_counts.columns = ['Director','NumberOfMoviesProduced']
director_counts.style.hide_index()